[defaults]
inventory = dev.ini

# Chick-Fil-A would like a word...
# nocows = True

# Installs collections into [current dir]/ansible_collections/namespace/collection_name
collections_path = ./

# Installs roles into [current dir]/roles/namespace.rolename
roles_path = ./roles
vault_password_file = ~/.ansible/vault_pass.txt

# ALLOW_BROKEN_CONDITIONALS=true
