---

- name: Add Hashicorp Stable APT repository
  ansible.builtin.deb822_repository:
    name: hashicorp
    types: [deb]
    uris: "https://apt.releases.hashicorp.com"
    signed_by: "https://apt.releases.hashicorp.com/gpg"
    suites: ["{{ ansible_distribution_release|lower }}"]
    components: [main]
    state: present
    enabled: yes

# Old-school version that ended up with these stored in /etc/apt/trusted.gpg,
# which is deprecated and will be removed in the future.
#
# - name: Add Vagrant Key
#   ansible.builtin.apt_key:
#     url: https://apt.releases.hashicorp.com/gpg

# - name: Add Vagrant Repository
#   ansible.builtin.apt_repository:
#     repo: deb [arch=amd64] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main

# Because of an annoying conflict with Vagrant https://superuser.com/questions/1845776/virtualbox-cant-operate-in-vmx-mode
# This is fixed in VirtualBox 7.2.2 and when that's available in the Ubuntu repos we can remove this again.
- name: Blacklist KVM kernel modules
  ansible.builtin.copy:
    dest: /etc/modprobe.d/blacklist-kvm.conf
    content: |
      blacklist kvm
      blacklist kvm_intel
      blacklist kvm_amd
    owner: root
    group: root
    mode: '0644'

- name: Install Vagrant
  ansible.builtin.apt:
    state: present
    name: vagrant
    update_cache: true
