---
- name: Set up Firewall
  hosts: all
  become: true

  vars_files:
    - vars.yml

  tasks:
    - name: Get info on uptime-kuma network
      community.docker.docker_network_info:
        name: uptime-kuma-net
      register: result

    - name: Do we have an uptime-kuma network? If so, work out the adapter name.
      ansible.builtin.set_fact:
        uptime_kuma_adapter_name: "{{ 'br-' + result.network.Id[:12] if (result.network.Id | default('') | length >= 12) else none }}"

    - name: Set firewall dynamic rules facts for uptime-kuma if we need to
      ansible.builtin.set_fact:
        firewall_uptime_kuma_rules:
          - "iptables -A FORWARD -i {{ uptime_kuma_adapter_name }} -o {{ ansible_default_ipv4.interface }} -j ACCEPT"
          - "iptables -A FORWARD -i {{ ansible_default_ipv4.interface }} -o {{ uptime_kuma_adapter_name }} -m state --state RELATED,ESTABLISHED -j ACCEPT"
      when: uptime_kuma_adapter_name is defined and uptime_kuma_adapter_name != none

    - name: Set firewall rules including dynamic rules if defined
      ansible.builtin.set_fact:
        # TODO: Could improve this with merge_variables. See
        # https://docs.ansible.com/projects/ansible/latest/collections/community/general/merge_variables_lookup.html
        firewall_additional_rules: "{{ static_rules + firewall_uptime_kuma_rules | default([]) }}"

    - name: debug firewall additional rules
      ansible.builtin.debug:
        var: firewall_additional_rules

    - name: Include firewall role
      ansible.builtin.include_role:
        name: geerlingguy.firewall
