---
- name: Set up Jenkins
  hosts: all
  become: true

  vars_files:
    - jenkins_vault.yml
    - vars.yml

  roles:
    - geerlingguy.java

  tasks:
    - name: Add Jenkins apt key
      ansible.builtin.deb822_repository:
        name: jenkins
        types: deb
        uris: "{{ jenkins_stable_url }}"
        suites: 'binary/'
        components: []
        signed_by: "{{ jenkins_apt_key_url }}"
        state: present

    - name: Install Jenkins
      ansible.builtin.apt:
        name: jenkins
        state: present
        update_cache: true
