---
- name: Set up Jenkins
  hosts: all
  become: true

  vars_files:
    - jenkins_vault.yml
    - vars.yml

  roles:
    - geerlingguy.java
    - role: geerlingguy.jenkins
      # environment:
      #   ANSIBLE_ALLOW_BROKEN_CONDITIONALS: "True"
