---
- name: Create main working user
  ansible.builtin.user:
    name: "{{ gothick_user_name }}"
    state: present
    groups: sudo
    append: true
    create_home: true
    shell: /usr/bin/zsh
  register: user_result

- name: Set home fact
  ansible.builtin.set_fact:
    gothick_user_home: "{{ user_result.home }}"

- name: Create .ssh directory
  ansible.builtin.file:
    state: directory
    path: "{{ gothick_user_home }}/.ssh"
    owner: "{{ gothick_user_name }}"
    group: "{{ gothick_user_name }}"
    mode: "0700"

- name: Add user to passwordless sudoers
  ansible.builtin.template:
    src: sudoers.j2
    dest: "/etc/sudoers.d/{{ gothick_user_name }}"
    mode: "0644"

- name: Add authorised key
  ansible.posix.authorized_key:
    user: "{{ gothick_user_name }}"
    state: present
    key: "{{ item }}"
  loop: "{{ gothick_user_authorised_keys }}"

- name: Generate ssh key for use with github
  community.crypto.openssh_keypair:
    path: "{{ gothick_user_home }}/.ssh/id_ed25519"
    type: ed25519
    owner: "{{ gothick_user_name }}"
    group: "{{ gothick_user_name }}"

- name: Copy a default zshrc template
  ansible.builtin.template:
    src: zshrc.j2
    dest: "{{ gothick_user_home }}/.zshrc"
    owner: "{{ gothick_user_name }}"
    group: "{{ gothick_user_name }}"
    mode: "0644"

- name: Configure git
  ansible.builtin.git_config:
    scope: global
    name: "{{ item.key }}"
    value: "{{ item.value }}"
  become: true
  become_user: "{{ gothick_user_name }}"
  loop:
    - { key: 'user.name', value: "{{ gothick_user_git_info.name }}" }
    - { key: 'user.email', value: "{{ gothick_user_git_info.email }}" }
